.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
        /* FONT FAMILY  */
body{
  font-family: 'Open Sans', sans-serif;
}

/* CSS COMPONENT INFO */

.Info input[type="text"],
.Info input[type="email"] {
  border: 2px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.75rem;
}

.Info button {
  background-color: #302c7f;
  color: #fff;
  padding: 1rem 1rem;
  transition: all 0.2s ease-in-out;
}

.Info button:hover {
  background-color: #6b62d0;
  cursor: pointer;
}

/* BUTTON .PARAMS */

.params button {
  background-color: #302c7f;
  color: #fff;
  padding: 1rem 1rem;
  transition: all 0.2s ease-in-out;
}

.params button:hover {
  background-color: #6b62d0;
  cursor: pointer;
}



/* BUTTON .Distribution */

.Distribution button {
  background-color: #302c7f;
  color: #fff;
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.Distribution button:hover {
  background-color: #6b62d0;
  cursor: pointer;
}

/* Button Card */

.card button {
  background-color: #f1f1f1;
  color: rgb(82, 129, 238);
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.card button:hover {
  background-color: #000000;
  cursor: pointe
}

/*   CONTAINER HOME 1 COLONNE #1 */

.card{
  background-color: #f1f1f1;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding-left: 1rem ; 
} 

.card2{
  background-color: #000000;
  color: #fff;
  height: 100%;
  align-items: start;
} 

.container1 {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2.5%;
  column-width: 300;
  text-align: start;
  padding: 1rem;
  margin: 1.5rem;
  margin-bottom: 0.2%;
  border-radius: 10px;
  align-items: start; /* Modifier la propriété align-items */
}

.container2 {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
  grid-column-gap: 20px;
  column-width: 300;
  text-align: start;
  padding: 1rem;
  margin: 1.5rem;
  margin-bottom: 0.2%;
  column-count: 3;
  border-radius: 10px;
  align-items: start; /* Modifier la propriété align-items */
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
  column-width: 300;
  text-align: start;
  padding: 1rem;
  margin: 1.5rem;
  column-count: 3;
  border-radius: 10px;
  align-items: start; /* Modifier la propriété align-items */
}





      /* CONTAINER PAGE INFO  */
.containerInfo {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2.5%;
  column-width: 300;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1.5rem;
  margin-bottom: 0.2%;
  border-radius: 10px;
}

.Info{
  background-color: #f1f1f1;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
} 

.params{
  background-color: #f1f1f1;
  height: 100%;
}
.Distribution{
  background-color: #f1f1f1;
  height: 100%;
}


/* ESPACE  */

h1{
  text-align: start;
  font-size: 2rem;
  margin-bottom: 20px;
  padding-left: 1rem;
}

p{
  text-align: start;
  margin-bottom: 20px;
  padding-left: 1rem;
}

h2{
  text-align: center;
}


label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #302c7f;
  color: white;
  padding-left: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

button:hover {
  background-color: #6b62d0;
  outline-color: #302c7f;
}


/* BACKGROUND COLOR HOME CONTAINER 2  */

.container2 .card:first-child {
  background-color: black;
  color: white;
}

.container3 .card:nth-child(2) {
  background-color: black;
  color: white;
}

.container2 .card:first-child .btn {
  background-color: black;
  color: white;
}

.container2 .card:first-child .btn:hover {
  background-color: white;
  color: black;
}


/* RESPONSIVE MEDIA  */

@media (max-width: 768px) {
  .container1 {
    grid-template-columns: 1fr;
  }
  .container2 {
    grid-template-columns: 1fr;
  }
  .container3 {
    grid-template-columns: 1fr;
  }
  .card,
  .card2 {
    height: auto;
    padding: 1rem;
    margin: 1.5rem 0;
  }
}
